---
layout: default
---
{% for post in paginator.posts %}
    <article class="post text">
        <header>
            <time class="date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</time>
            <h2 class="post-title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
        </header>

        <div class="post-content">
            {{ post.content | image_rows }}
        </div>

        <footer class="post-footer">
            {% if post.tags.size > 0 %}
                <div class="tags">
                    {% for tag in post.tags %}<a href="#">{{ tag | prepend: "#" }}</a> {% endfor %}
                </div>
            {% endif %}
        </footer>
    </article>
{% endfor %}

<nav id="pagination">
    {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Previous</a>
    {% else %}
        <span>&laquo; Previous</span>
    {% endif %}

    {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | relative_url }}">Next &raquo;</a>
    {% else %}
        <span>Next &raquo;</span>
    {% endif %}
</nav>
